
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



#container {
    display: grid;
    grid-template-columns:repeat(41, 46.47px) ;
    grid-template-rows: repeat(25, 46px);
}

.sky{
    background-color: #87CEEB;
}
.grass {
    background: url('grass.webp') ;
}
.dirt{
    
    background: url('dirt.webp') center center / cover;
}
.stone{
    background: url('stone.webp') center center / cover;
}


.item:hover {
    border: 0.5px solid yellow;
}

.transparent {
  opacity: 0; 
}



.tails {
    background-color: #87CEEB;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.tails div {
    height: 4rem;
    width:  4rem;
    border: 2px solid;
    border-color: aliceblue;
}


.tools {
    top: 10px;
    position: absolute;
    background-color: #87CEEB;
    display: flex;
    
    flex-direction:column ;
    gap: 1rem;
    z-index: 0;
    
}

.tools div {
    height: 4rem;
    width:  4rem;
    border: 2px solid;
    border-color: aliceblue;
}






.shears {
    background: url('shears.webp') center center / cover;
}

.shovel {
        background: url('diamond-shovel.webp') center center / cover;
}

.pickaxe {
     background: url('diamond-pickaxe.webp') center center / cover;
}

.axe {
     background: url('diamond-axe.webp') center center / cover;
}